{% extends "home/base.html" %}

{% load staticfiles %}


{% block extra_css %}
  <!-- Custom CSS -->
  <link href="{% static "home/css/home.css" %}" rel="stylesheet">
{% endblock extra_css %}


{% block sections %}
  <!-- Intro Section -->
  <section id="intro" class="odd-section">
    <div class="container-fluid intro-photo">
      <div class="row">
        <div class="col-lg-12">
          <h1>20th June 2016</h1>
          <a class="btn btn-default page-scroll" href="#confirmations">Click here to confirm!</a>
        </div>
      </div>
    </div>
  </section>

  <section id="confirmations" class="even-section">
    <div class="container-fluid confirm-photo">
      <div class="row">
        <div class="col-xs-12 confirmations-container">
          <div class="col-xs-4">
            <a id="add_another_guest" class="btn btn-default" href="#" role="button">Add another guest</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="where_to_stay" class="odd-section">
    <div class="container-fluid stay-photo">
      <div class="row">
        <div class="alert alert-warning" role="alert">
          <strong>Before booking</strong>, contact us. We've booked these accomodations and can negotiate a better price for you.
        </div>
        <div class="col-xs-12 accomodations-container">
          {% for a in accomodations %}
            <div class="col-xs-3 col-xs-offset-2 accomodation">
              <p><strong><a target="_blank" href="{{ a.url }}"> {{ a.name }}</a></strong></p>
            </div>
            {% comment %}
            {% if forloop.counter <= 6 %}
            {% elif %}
            <div class="col-xs-2 accomodation">
              <p><strong><a target="_blank" href="{{ a.url }}"> {{ a.name }}</a></strong></p>
            </div>
            {% endif %}
            {% endcomment %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  
  <section id="visit" class="even-section">
    <div class="container-fluid visit-photo">
      <div class="row">
        <div class="col-xs-12 visit-header">
          <p><a href="http://www.lonelyplanet.com/italy/puglia">Puglia</a> (or Apuglia) is about 375km long.
          If you're staying for a week you will probably have to choose between visiting the North (Gargano) or the South (Salento).</p>
          <p>The mid-part of Puglia, where Bitonto lies, can be seen in about 2 or 3 days. Here are our suggestions for each of these areas.</p>
        </div>
        <div class="col-xs-4 visit-container">
          <div class="col-xs-12 visit-area">
            <h3> Near Bitonto </h3>
            <p><a target="_blank" data-toggle="tooltip" title="" data-original-title="If you're flying Alitalia, bring your boarding pass as you get a discount" data-placement="right" href="http://www.grottedicastellana.it/en/">Grotte di Castellana</a></p>
            <p><a target="_blank" href="http://whc.unesco.org/en/list/398">Castel del Monte</a></p>
            <p><a target="_blank" href="http://whc.unesco.org/en/list/787">Trulli of Alberobello</a></p>
            <p><a target="_blank" data-toggle="tooltip" title="" data-original-title="Afternoon walk and dinner among Castello Svevo, Basilica di San Nicola e Piazza del Ferrarese" data-placement="right" href="https://www.google.com/search?q=bari+basilica+di+san+nicola&client=safari&rls=en&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwiFjI_q6aHJAhVDQBoKHX-dDBUQsAQIRg&biw=1440&bih=838#tbm=isch&q=bari+basilica+di+san+nicola+castello+svevo+e+piazza+ferrarese">Bari</a></p>
            <p><a target="_blank" href="http://www.cattedraletrani.it/IT/">Trani</a></p>
            <p><a target="_blank" href="http://www.ostunithewhitecity.com/ostuni-puglia-local-info/what-to-see-and-monuments-in-ostuni.php">Ostuni, the White City</a></p>
            <p><a target="_blank" href="https://www.youtube.com/watch?v=RxnuPf7Q6wk">Polignano a Mare</a></p>
            <p><a target="_blank" href="https://www.google.com/search?q=porto+ghiacciolo&client=safari&rls=en&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjKtd-FiKLJAhVBiRoKHSATC0AQ_AUIBygB&biw=1440&bih=838">Porto Ghiacciolo, Monopoli</a></p>
            <p><a target="_blank" href="https://www.google.com/search?q=torre+guaceto&client=safari&rls=en&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwiXyqfNiKLJAhXJtRoKHYqaCc0QsAQIHQ&biw=1440&bih=838">Torre Guaceto</a></p>
            <p><a target="_blank" href="http://www.sassidimatera.net/">Sassi di Matera</a></p>
          </div>
        </div>
        <div class="col-xs-4 visit-container">
          <div class="col-xs-12 visit-area">
            <h3> Salento </h3>
            <p><a target="_blank" href="https://www.google.com/search?q=lecce&client=ubuntu&espv=2&biw=1362&bih=650&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjqm5T_u6TJAhUBfxoKHRETCAYQ_AUIBigB">Lecce</a></p>
            <p><a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g1179328-d3211090-Reviews-Torre_dell_Orso_Beach-Torre_Dell_Orso_Melendugno_Province_of_Lecce_Puglia.html">Torre dell'Orso</a></p>
            <p><a target="_blank" href="http://www.tripadvisor.com/Tourism-g652004-Otranto_Province_of_Lecce_Puglia-Vacations.html">Otranto</a></p>
            <p><a target="_blank" data-toggle="tooltip" title="" data-original-title="Just the Southern tip of Puglia: on the way there is the Ciolo Bridge" data-placement="right" href="https://www.youtube.com/watch?v=84FGwFqjghI">Santa Maria di Leuca</a></p>
            <p><a target="_blank" href="https://www.google.com/search?q=pescoluse&client=ubuntu&espv=2&biw=1362&bih=650&source=lnms&tbm=isch&sa=X&sqi=2&ved=0ahUKEwjNoMDmv6TJAhVG2BoKHcWhAYYQ_AUIBigB">Pescoluse</a></p>
            <p><a target="_blank" href="http://www.stayciao.com/blog/where-are-the-best-gallipoli-beaches-in-puglia/">Gallipoli</a></p>
            <p><a target="_blank" href="http://www.tripadvisor.com/Tourism-g1069599-Porto_Cesareo_Province_of_Lecce_Puglia-Vacations.html">Porto Cesareo</a></p>
            <p><a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g1204396-d2538314-Reviews-San_Pietro_in_Bevagna_Beach-Manduria_Province_of_Taranto_Puglia.html">San Pietro in Bevagna</a></p>
          </div>
        </div>
        <div class="col-xs-4 visit-container">
          <div class="col-xs-12 visit-area">
            <h3> Gargano </h3>
            <p><a target="_blank" href="https://www.google.com/search?q=monte+sant%27angelo&client=ubuntu&espv=2&biw=1362&bih=650&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj7yMOTkKLJAhWGaRQKHc9hBCEQ_AUIBigB">Monte Sant'Angelo</a></p>
            <p><a target="_blank" href="http://www.pugnochiuso.com/en/pugnochiuso-pearl-mediterranean">Pugno Chiuso</a></p>
            <p><a target="_blank" href="http://www.lonelyplanet.com/italy/puglia/vieste">Vieste</a></p>
            <p><a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g194848-d4476393-Reviews-Peschici_centro_storico-Peschici_Province_of_Foggia_Puglia.html#photos">Peschici</a></p>
            <p><a target="_blank" href="https://www.google.com/search?q=rodi+garganico&client=ubuntu&espv=2&biw=1362&bih=650&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiQ6pOQkqLJAhXLshQKHaGeDJYQ_AUIBigB">Rodi Garganico</a></p>
            <p><a target="_blank" href="http://www.tripadvisor.com/Attraction_Review-g1064670-d2294313-Reviews-Isola_San_Domino-Tremiti_Islands_Province_of_Foggia_Puglia.html">Isole Tremiti</a></p>
            <p><a target="_blank" href="http://www.italia.it/it/idee-di-viaggio/laghi/il-lago-di-lesina.html#prettyPhoto">Laghi Lesina e Varano</a></p>
            <p><a target="_blank" href="http://forestaumbra.com/">Foresta Umbra</a></p>
            <p><a target="_blank" href="http://www.sacred-destinations.com/italy/san-giovanni-rotondo-padre-pio-shrine">San Giovanni Rotondo</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="gifts" class="odd-section">
    <div class="container-fluid gifts-photo">
      <div class="row">
        <div class="col-xs-12">
          <h2>We would like to travel the world.</h2>
        </div>
        <div class="col-xs-12 gifts-bottom-text">
          <h4>If you like to contribute for our honey moon, please write to us at <a href="mailto:joaonvfigueiredo@gmail.com">joaonvfigueiredo@gmail.com</a>.</h4>
          <h4>We will provide you our bank account details! Thank you very much in advance.</h4>
          <h4>Oh by the way, we loved Madeira! You can see here in the background Cabo São Lourenço. Enjoy the view!</h4>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="even-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 mail">
          <a href="mailto:joaonvfigueiredo@gmail.com">joaonvfigueiredo@gmail.com</a>
        </div>
        <div class="col-xs-6 mail">
          <a href="mailto:paola.frascella@gmail.com">paola.frascella@gmail.com</a>
        </div>
      </div>
    
    <!-- Map Section -->
    <div id="map"></div>

    </div>
  </section>
{% endblock sections %}


{% block extra_js %}
  <script src="{% static "home/js/jquery.easing.min.js" %}"></script>
  <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
  <script src="{% static "home/js/home.js" %}"></script>
  <script src="{% static "home/js/map.js" %}"></script>
  <script src="{% static "home/js/confirm.js" %}"></script>
{% endblock extra_js %}
